@font-face {
	font-family: "Rastaglion";
	src:
		local("Rastaglion"),
		url("./fonts/Rastaglion.ttf") format("truetype");
}

@font-face {
	font-family: "Floral";
	src:
		local("Floral"),
		url("./fonts/Floral.otf") format("opentype");
}

@font-face {
	font-family: "FlyingPeace";
	src:
		local("FlyingPeace"),
		url("./fonts/FlyingPeace.ttf") format("truetype");
}

@font-face {
	font-family: "Montserrat-V";
	src:
		local("Montserrat-V"),
		url("./fonts/Montserrat-V.ttf") format("truetype");
}

.font-rastaglion {
	font-family: "Rastaglion";
}
.font-floral {
	font-family: "Floral";
}
.font-flyingpeace {
	font-family: "FlyingPeace";
}

.font-montserrat {
	font-family: "Montserrat-V", sans-serif;
	font-weight: 200;
}

#root {
	box-sizing: border-box;
	margin: 0;
	text-align: center;

	height: 100dvh;
	width: 100dvw;
	max-width: 100dvw;
	max-height: 100dvh;

	overflow: hidden;
	color: rgb(221, 217, 255);
	background-color: #0e0d28;

	/* font-family: "Rubik", sans-serif; */
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

	--purple: rgb(123, 31, 162);
	--violet: rgb(103, 58, 183);
	--pink: rgb(244, 143, 177);
	--violet400: rgb(167 139 250);
}

#root * {
	box-sizing: border-box;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100dvh;
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
	cursor: default;
	/* z-index: inherit; */
}

@keyframes rotate {
	from {
		rotate: 0deg;
	}

	50% {
		scale: 1 1.5;
	}

	to {
		rotate: 360deg;
	}
}

/* keyframe anime for moving up 100% */
@keyframes moveUp {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0%);
	}
}

/* keyframe for fadeZoomIn to 100%  */

@keyframes fadeZoomIn {
	0% {
		opacity: 0.5;
		transform: scale(0.8) translateY(-10%);
	}
	100% {
		opacity: 1;
		transform: scale(1) translateY(0%);
	}
}

/* --------------------------------------------- */

#blob {
	background-color: white;
	height: 30vmax;
	aspect-ratio: 1.15;
	position: absolute;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	border-radius: 60%;
	background: linear-gradient(to right, cyan, slateblue, coral);
	animation: rotate 4s infinite alternate;
	opacity: 0.9;
	filter: saturate(0.8);
	z-index: 1;
	filter: blur(9vmax);
}

#blur {
	height: 100%;
	width: 100%;
	position: absolute;
	backdrop-filter: blur(1vmax);
	z-index: 2;
}

/* --------------------------- */
span#symbol {
	position: absolute;
	display: inline-block;
	left: calc(1.5rem - 2.5px);
	bottom: 1rem;
	width: 5px;
	height: 5px;
	border-radius: 90%;
	background-color: var(--violet400);
	/* width: 0;
	height: 0;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 7px solid var(--violet400); */
}

#navbar {
	border-left: 1px solid rgb(221, 217, 255);
	padding-left: 0.5rem;
	padding-bottom: 5rem;
	padding-top: 0.5rem;
	overflow-x: hidden;
	border-image: linear-gradient(to bottom, rgb(221, 217, 255) 60%, var(--violet400)) 1 100%;
}

#navbar button {
	line-height: 1.5;
	position: relative;
	transform: translateX(-25px);
	transition: all 0.3s ease-in-out;
}

#navbar button span {
	display: inline-block;
	height: 100%;
	width: 25px;
	transition: all 0.3s ease-in-out;
	position: relative;
}

#navbar button span::before {
	content: "";
	position: absolute;
	left: -8px;
	top: -8px;
	height: 1px;
	width: 25px;
	background-color: rgb(221, 217, 255);
	transition: all 0.3s ease-in-out;
}
#navbar button:hover span::before {
	content: "";
}

#navbar button:hover {
	transform: translateX(-1px);
}
